.company-partners {
  display: inline-flex;
  padding: 1.8125rem 5.8125rem;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.25rem;
  background: #fff;
  margin: 0 9rem;
}

.company-text {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.company-text > h3 {
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07363rem;
  padding-right: 3rem;
}
.company-text > h5 {
  font-size: 1rem;
  font-style: normal;
}

.company-text > div {
  display: flex;
}

.company-logo {
  display: flex;
  flex-direction: row;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
  height: 4rem;
  width: auto;
  justify-content: space-around;
  gap: 3rem;
}

.company-logo:hover {
  filter: grayscale(0%);
}

.company-logo > img {
  padding: 0.5rem;
}
