/* hero-t1
hero-t2
company
hero-img */

.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 14rem;
  justify-content: space-between;
}

.hero-t1 {
  color: #fff;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
}

.hero-t2 >h1 {
  color: #fff;
  font-family: Manrope;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 118.6%; /* 5.85931rem */
  letter-spacing: 0.07413rem;
  width: 530px;
  margin-top: 1rem;
}
.hero-img{
  margin-top: 1rem;
}
.hero-img > img{
  width: auto;
  height: 22rem;
  flex-shrink: 0;
}