.nav_items {
  color: black;
}
.animation {
  opacity: 1;
  -webkit-animation: fadeOutBottom 1s cubic-bezier(0.77, 0, 0.175, 1) 1;
  animation: fadeOutBottom 1s cubic-bezier(0.77, 0, 0.175, 1) 1;
}

.animation-hidden {
  display: none;
  -webkit-animation: fadeInBottom 1s cubic-bezier(0.77, 0, 0.175, 1) 1;
  animation: fadeInBottom 1s cubic-bezier(0.77, 0, 0.175, 1) 1;
}
.search {
  border: 1px solid rgba(105, 105, 105, 0.582);
  border-radius: 26px 0 0 26px;
  font-weight: 700;
}
.search:focus {
  border: 1px solid rgba(105, 105, 105, 0.582);
  outline: none;
  font-weight: 700;
}
.search:active {
  border: 1px solid rgba(105, 105, 105, 0.582);
}

@keyframes fadeInBottom {
  0% {
    opacity: 1;
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }

  to {
    opacity: 0;
    filter: blur(10px);
    -webkit-transform: translatey(0);
    transform: translatey(70%);
  }
}

@keyframes fadeOutBottom {
  0% {
    opacity: 0;
    -webkit-transform: translatey(60%);
    transform: translatey(60%);
  }

  to {
    opacity: 1;
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
}
